# Variables and Types

In [1]:
x = -4
y = 12.0

In [2]:
x + 2*y

20.0

In [3]:
z = x + 2*y

In [4]:
z

20.0

In [5]:
str1 = 'No strings '
str2 = 'attached'

In [6]:
str1 + str2

'No strings attached'

In [7]:
z = 'z mutated into a string'

In [8]:
z

'z mutated into a string'

In [9]:
list1 = ['List', 'few', 'numbers', 6, 7, 8]

In [10]:
list1

['List', 'few', 'numbers', 6, 7, 8]

In [11]:
list1[0], list1[2:4]

('List', ['numbers', 6])

In [12]:
list2 = [9, 10, 'the end']

In [13]:
list1 + list2

['List', 'few', 'numbers', 6, 7, 8, 9, 10, 'the end']

In [14]:
min_wage = {'Quebec': 12.5, "Ontario": 14.0, "Nunavut": 13.0, "Yukon": 12.71, "Alberta": 15.0}

In [15]:
min_wage['Yukon']

12.71

In [16]:
clas = input("What is your favourite college class? ")

What is your favourite college class? gym

In [17]:
clas

'gym'

In [18]:
x, y = input("Enter a two value: ").split() 
print("Number of boys: ", x) 
print("Number of girls: ", y)

Enter a two value: 3 4
Number of boys:  3
Number of girls:  4